@media (prefers-color-scheme: light) {
  :root {
    --bulma-body-color: black;
  }
}

[data-theme=light],
.theme-light {
  --bulma-body-color: black;
}

:root {
  --bulma-body-family: 'Helvetica Neue';
  --border-color: var(--bulma-body-color);
}

html {
  font: -apple-system-body;
  font-family: var(--bulma-body-family);
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.has-border-top {
  border-top: 1px solid var(--border-color);
}